@charset "UTF-8";

/* CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #f3f3f2;
	margin: 0;
	color: #000;	
}

img {
	border-style: none;
}

#mainContainer {
	position:relative;
	width: 982px;
	min-height: 731px;
	background-image: url('../images/main-image.png');
	background-repeat: no-repeat;
	margin: 0 auto; 
	overflow: hidden; 
	background-color: transparent;
}

input[type=text] {
	position: absolute;
	bottom: 117px;
	left: 200px;
	font-size:18px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	outline:none;
	padding-left:5px;
	border:none;
	width:426px;
	height:25px;
}

input[type=submit] {
	position: absolute;
	bottom: 116px;
	right: 200px;
	width:140px;
	height: 28px;
	border: none;
	background: url('../images/subscribe-button.png') no-repeat bottom right;
	cursor: pointer;
	text-indent: -3000px;  
	outline: none;
}
	
#socialButtonHolder{
	position: absolute;
	top: 670px;
	left: 450px;
}

#load {
	display: none;
	position: absolute;
	bottom: 107px;
	left: 198px;
	width: 600px;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
}

.error {
	position: absolute;
	bottom: 155px;
	left: 210px;
	color: red;
	font-weight: bold;
}
