@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #f3f3f2;
	margin: 0;
	color: #000;	
}

img {
	border-style: none;
}

#mainContainer {
	position:relative;
	width: 982px;
	min-height: 731px;
	background-image: url('../images/main-image.png');
	background-repeat: no-repeat;
	margin: 0 auto; 
	overflow: hidden; 
	background-color: transparent;
}

input[type=text] {
	position: absolute;
	bottom: 117px;
	left: 200px;
	font-size:18px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	outline:none;
	padding-left:5px;
	border:none;
	width:426px;
	height:25px;
}

input[type=submit] {
	position: absolute;
	bottom: 116px;
	right: 200px;
	width:140px;
	height: 28px;
	border: none;
	background: url('../images/subscribe-button.png') no-repeat bottom right;
	cursor: pointer;
	text-indent: -3000px;  
	outline: none;
}
	
#socialButtonHolder{
	position: absolute;
	top: 670px;
	left: 450px;
}
